body{
    padding: 10px;
    background-color: #04385a;
    color: #fff;
}

.phone{

    width: 100%;
 

}

.contact-me{
    background-color: #1673c0;
    
    width: 100%;
   

}
