body{
    padding: 10px;
    background-color: #04385a;
    color: #fff;
}

.phone{

    width: 100%;
 

}

.contact-me{
    background-color: #1673c0;
    
    width: 100%;
   

}


.btn {
  background: #71f0f0;
  background-image: -webkit-linear-gradient(top, #71f0f0, #3de0e0);
  background-image: -moz-linear-gradient(top, #71f0f0, #3de0e0);
  background-image: -ms-linear-gradient(top, #71f0f0, #3de0e0);
  background-image: -o-linear-gradient(top, #71f0f0, #3de0e0);
  background-image: linear-gradient(to bottom, #71f0f0, #3de0e0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  }
  
  .btn:hover {
    background: #50fced;
    background-image: -webkit-linear-gradient(top, #0b1c26, #3498db);
    background-image: -moz-linear-gradient(top, #0b1c26, #3498db);
    background-image: -ms-linear-gradient(top, #0b1c26, #3498db);
    background-image: -o-linear-gradient(top, #0b1c26, #3498db);
    background-image: linear-gradient(to bottom, #0b1c26, #3498db);
    text-decoration: none;
  }

  .whatzap {
    background: #71f0f0;
  background-image: -webkit-linear-gradient(top, #71f0f0, #3de0e0);
  background-image: -moz-linear-gradient(top, #71f0f0, #3de0e0);
  background-image: -ms-linear-gradient(top, #71f0f0, #3de0e0);
  background-image: -o-linear-gradient(top, #71f0f0, #3de0e0);
  background-image: linear-gradient(to bottom, #71f0f0, #3de0e0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    width: 20%;
    margin-left: 41%;
    margin-top: 50px;
  }
  
  .whatzap:hover {
    background: #50fced;
    background-image: -webkit-linear-gradient(top, #0b1c26, #3498db);
    background-image: -moz-linear-gradient(top, #0b1c26, #3498db);
    background-image: -ms-linear-gradient(top, #0b1c26, #3498db);
    background-image: -o-linear-gradient(top, #0b1c26, #3498db);
    background-image: linear-gradient(to bottom, #0b1c26, #3498db);
    text-decoration: none;
  }



  .btn{
    margin-left: 43%;
    margin-top: 50px;
  }
