.body{
   width: 80%;
   line-height: 2;
   margin: 5%;
}

.fagbemi{
    color: blue;
    margin: 2%;
   
    top: 40px;
    text-align: left;
   
}

.note{
width: 80%;
margin: 2%;

}

.past-future{
width: 80%;
margin: 2%;

}

  
.story{
    width: 80%;
    margin: 2%;
}


.headings{
    text-align: left;
    margin: 2%;
    
   
}

.website{
   
    margin: 20px;
}

.cover{
    position: relative;
    left: 450px;

}



.myself{
    color: blue;
    margin: 2%;
}

.years{
    width: 80%;
    margin: 2%;
}
